@import url("header.css");
@import url("about.css");
@import url("tools.css");
@import url("achievements.css");
@import url("portfolio.css");
@import url("contact.css");
@import url("footer.css");
@import url("responsive.css");


:root {
    --primary-color: #ff004f;
    --background-color: #080808;
    --text-color: #fff;
    --secondary-bg: #262626;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

/* Container base */
.container {
    padding: 10px 10%;
}

/* Common heading styles */
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--text-color);
}

/* Common Button */
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}

.btn:hover {
    background: var(--primary-color);
}
